name: Strava LOTR Tracker

permissions:
  contents: write

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: pip install pandas requests

    - name: Run script
      env:
        STRAVA_CLIENT_ID: ${{ secrets.STRAVA_CLIENT_ID }}
        STRAVA_CLIENT_SECRET: ${{ secrets.STRAVA_CLIENT_SECRET }}
        ATHLETE_ID: ${{ secrets.ATHLETE_ID }}
      run: python main.py

    - name: Commit updated tokens
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add tokens.json
        git commit -m "Update tokens" || echo "No changes"
        git push
